body {
  margin: 0;
  background: #f4f4f4;
  font-family: 'Open Sans', sans-serif;
}
figure {
  margin: 0;
}
header div figure img {
  border-radius: 50%;
  width: 250px;
}
header div h1 {
  font-family: 'Open Sans', sans-serif;
  font-size: 3.5em;
  position: relative;
  top: -13px;
}
header div h2 {
  font-family: 'Raleway', sans-serif;
  font-size: 2em;
  position: relative;
  top: -44px;
}
.box-center {
  padding-top: 4em;
  text-align: center;
  transition: 0.5s;
  padding-bottom: 4em;
}
.box-center img:hover {
  transform: rotate(-14deg);
  transition: 0.4s;
}
.vermore a {
  color: #fff;
  transition: 0.4s;
  text-decoration: none;
}
.main-header {
  background: #171a40;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  color: #fff;
}
nav {
  text-align: center;
  background: #1f2451;
}
nav ul {
  margin: 0;
  list-style: none;
}
nav ul li {
  display: inline-block;
  padding: 0em 0.1em 0em 0.1em;
}
nav ul li a {
  color: #fff;
  display: inline-block;
  text-decoration: none;
  font-family: 'Raleway', sans-serif;
  font-size: 1.5em;
  padding: 1.1em 2em 1.2em 2em;
}
nav ul li a:hover {
  background: rgba(255,255,255,0.92);
  color: #000;
  -o-transition: 0.5s;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.menu-fixed {
  position: fixed;
  z-index: 1000;
  top: 0;
/*max-width:1000px;*/
  left: 0;
  width: 100%;
  box-shadow: 0px 4px 3px rgba(0,0,0,0.5);
}
.about-me-box a {
  text-decoration: none;
  color: #c02d2d;
}
.about-me-box a:hover {
  text-decoration: underline;
  color: #143281;
  transition: 1.5s;
}
footer {
  background: #1f1f1f;
  padding: 2em 0 2em 0;
  font-family: 'Raleway', sans-serif;
}
footer h2 {
  margin: 0;
  text-align: center;
  font-size: 1em;
}
footer span {
  color: #d8d8d8;
}
footer a {
  text-decoration: none;
  color: #ffa500;
}
footer a:hover {
  color: #ffba3a;
}
.titulo {
  text-align: center;
  font-size: 3.5em;
  color: #143281;
  margin: 0;
  margin-bottom: 0.2em;
  font-family: 'Open Sans', sans-serif;
}
@media (max-width: 500px) {
  .titulo {
    font-size: 3.2em;
  }
}
.hola-joel {
  text-align: center;
  font-size: 3.5em;
  color: #143281;
  margin: 0;
  margin-bottom: 0.2em;
  font-family: 'Open Sans', sans-serif;
}
.about-me {
  background-color: #f7f7f7;
  padding-top: 10.5em;
  padding-bottom: 10.8em;
}
.about-me-box {
  text-align: center;
}
.box-hello {
  text-align: center;
  width: 96%;
  display: inline-block;
}
.box-hello p {
  text-align: left;
  font-size: 1.5em;
  font-family: 'Raleway', sans-serif;
  width: 100%;
}
.box-hello-img {
  text-align: center;
}
.box-hello-img img {
  width: 300px;
  border-radius: 50%;
}
.box-hello-img a {
  text-decoration: none;
}
.box-hello-img h3 {
  font-size: 2.5em;
  color: #c02d2d;
  margin: 0;
  padding: 0.5em;
}
.box-hello-img h3:hover {
  color: #4d4d4d;
}
/*habilidades*/
.habilidades {
  background: #fff;
  padding-top: 7em;
  padding-bottom: 3em;
}
.habilidades-box {
  text-align: center;
}
.habilidades-box h3 {
  font-size: 1.7em;
  margin: 0;
  color: #353535;
}
.sub-title {
  font-size: 2.9em;
  color: #272727;
  text-align: center;
  font-family: 'Raleway', sans-serif;
}
.box-content {
  text-align: center;
  max-width: 100%;
}
.habilidades-ico-box {
  width: 100%;
  display: inline-block;
  padding-bottom: 1em;
}
.habilidades-ico-box img {
  width: 200px;
  border-radius: 50%;
}
.habilidades-ico-box p {
  font-size: 1.3em;
  margin: 1px;
}
/*trabajos*/
.trabajos {
  background-color: #f7f7f7;
  padding-top: 6em;
  padding-bottom: 2.7em;
}
.sub-trabajos {
  font-size: 1.7em;
  margin: 0;
  color: #353535;
  text-align: center;
}
.box-trabajos {
  text-align: center;
}
.one-job {
  text-align: center;
  display: inline-block;
  width: 100%;
}
.one-job img {
  text-align: center;
  display: inline-block;
  max-width: 100%;
}
.one-job img:hover {
  box-shadow: #ec5b5e 2px 2px 32px;
}
.one-job a {
  padding: 0.8em 3em 0.8em 3em;
  background: rgba(255,55,78,0.69);
  text-decoration: none;
  color: #fff;
  position: relative;
  top: -167px;
}
.one-job a:hover {
  background: rgba(79,195,255,0.82);
  color: #000;
}
.one-job h2 {
  margin: 0.4em;
  font-family: 'Raleway', sans-serif;
}
.one-job h3 {
  margin: 0;
}
.btn-Godemos a {
  color: #fff;
  text-decoration: none;
  background: #fdb024;
  padding: 1.2em;
  font-size: 1.2em;
  border-radius: 10px;
  display: block;
  max-width: 400px;
  margin: 0.5em auto;
}
.btn-Godemos:hover a {
  background: #2196f3;
}
/*contactos*/
.contacto {
  background: #fff;
  padding-top: 1.5em;
  padding-bottom: 2em;
}
.contacto-box {
  text-align: center;
}
.contacto-box h2 {
  font-size: 1.9em;
  margin: 0;
  position: relative;
  top: -12px;
}
.contacto-box h3 {
  font-size: 1.6em;
  margin: 0;
  color: #1a1a1a;
  font-family: 'Raleway', sans-serif;
}
.contacto__btn-cv a:hover {
  text-decoration: underline;
  color: #00f;
}
.redes {
  display: inline-block;
  padding: 0.6em;
}
.redes img {
  width: 74px;
}
.contacto a {
  text-decoration: none;
  color: #da4843;
}
.sigueme {
  font-size: 1.7em;
  margin: 0.6em;
  color: #1a1a1a;
}
.redes-sociales {
  padding-bottom: 1.9em;
}
.habilidades-ico-box2 {
  width: 100%;
  display: inline-block;
  padding-bottom: 1em;
}
.habilidades-ico-box2 img {
  width: 200px;
  border-radius: 50%;
}
.ir-arriba {
  padding: 20px;
  background: rgba(244,47,76,0.57);
  color: #fff;
  position: fixed;
  font-size: 20px;
  bottom: 20px;
  right: 20px;
  cursor: pointer;
  border-radius: 50%;
  width: 28px;
  text-align: center;
  text-decoration: none;
}
.ir-arriba:hover {
  background: rgba(247,38,69,0.76);
}
.menu_movil {
  display: none;
}
.barra-movil {
  display: none;
}
.nav_movil {
  display: none;
  text-align: center;
  background: rgba(31,36,81,0.93);
}
.menu img {
  width: 61px;
  display: inline-block;
  float: left;
  padding: 0.7em 0 0.7em 0.7em;
  padding-left: 22px;
}
.menu-fixed2 {
  position: fixed;
  z-index: 1000;
  top: 76px;
  left: 0;
  width: 100%;
  box-shadow: 0px 4px 3px rgba(0,0,0,0.5);
}
@media (min-width: 880px) {
  .about-me-box {
    overflow: hidden;
    margin: 0 auto;
    width: 840px;
  }
  .box-hello {
    width: 490px;
    float: left;
    margin: 0em;
    margin-left: 0em;
  }
  .box-hello p {
    text-align: left;
    font-size: 1.7em;
    display: inline-block;
    padding-top: 0.8em;
    color: #353535;
    font-family: 'Raleway', sans-serif;
  }
  .box-hello-img {
    text-align: center;
    display: inline-block;
    float: left;
    margin-left: 2em;
  }
  .hola-joel {
    text-align: center;
    font-size: 4.5em;
    color: #143281;
    margin: 0;
    margin-bottom: 0.2em;
    font-family: 'Open Sans', sans-serif;
    position: relative;
    top: 31px;
  }
}
@media (min-width: 800px) {
  .habilidades-ico-box {
    width: 42%;
    display: inline-block;
    padding-bottom: 1em;
  }
  .habilidades-ico-box2 {
    width: 42%;
    display: inline-block;
    padding-bottom: 1em;
  }
  .one-job {
    text-align: center;
    display: inline-block;
    width: 42%;
    padding: 0.5em;
  }
  .titulo {
    font-size: 4em;
  }
}
@media (min-width: 1100px) {
  .habilidades-ico-box {
    width: 32%;
    display: inline-block;
    padding-bottom: 1em;
  }
  .habilidades-ico-box2 {
    width: 24%;
    display: inline-block;
    padding-bottom: 1em;
  }
  .one-job {
    text-align: center;
    display: inline-block;
    width: 31%;
    padding: 0.6em;
  }
  .titulo {
    font-size: 4.5em;
    font-family: 'Open Sans', sans-serif;
  }
}
/*Query para el menu responsive*/
@media (max-width: 945px) {
  .menu {
    display: none;
  }
  .menu_movil {
    display: none;
  }
  .nav_movil {
    display: block;
  }
  .nav_movil ul {
    padding-left: 0;
  }
  .nav_movil ul li {
    display: block;
  }
  .nav_movil ul li a {
    color: #fff;
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    font-size: 1.5em;
    display: block;
    padding: 1em;
  }
  .barra-movil {
    display: block;
    background: rgba(31,36,81,0.93);
    width: 100%;
    overflow: hidden;
  }
  .barra-movil a {
    float: right;
    text-decoration: none;
    color: #fff;
    padding: 0.9em 0.7em;
    background: #2a3171;
    font-size: 1.5em;
  }
  .barra-movil .sub-logo {
    float: left;
    font-size: 0;
    background: #1f2451;
    margin-left: 18px;
    display: block;
  }
  .barra-movil .sub-logo img {
    width: 76px;
    margin: 0;
    display: inline-block;
    padding: 0;
  }
  .barra-movil .sub-logo2 {
    float: left;
    background: rgba(31,36,81,0);
  }
}
@font-face {
  font-family: 'icomoon';
  src: url("../../fonts/icon-networking/icomoon.eot?nnimdb");
  src: url("../../fonts/icon-networking/icomoon.eot?nnimdb#iefix") format('embedded-opentype'), url("../../fonts/icon-networking/icomoon.ttf?nnimdb") format('truetype'), url("../../fonts/icon-networking/icomoon.woff?nnimdb") format('woff'), url("../../fonts/icon-networking/icomoon.svg?nnimdb#icomoon") format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"],
[class*=" icon-"] {
/* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
/* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #fff;
  text-decoration: none;
  font-size: 2.5rem;
  letter-spacing: 0.1em;
  transition: 0.2s;
}
.icon-google-plus:before {
  content: "\e900";
}
.icon-facebook:before {
  content: "\e901";
}
.icon-instagram:before {
  content: "\e902";
}
.icon-twitter:before {
  content: "\e903";
}
.icon-youtube:before {
  content: "\e904";
}
.icon-github:before {
  content: "\e905";
}
.icon-skype:before {
  content: "\e906";
}
.icon-linkedin:before {
  content: "\e907";
}
.icon-Networking {
  position: relative;
  top: -38px;
}
.icon-Networking li {
  list-style: none;
  display: inline-block;
}
.icon-Networking li a:hover {
  transform: scale(1.2);
  color: #fbeb69;
}
