<!-- start widget -->
<div class="widget">
	<h4 class="title">Joel Gonzales Tipismana</h4>
	<div class="content">
		Full-Stack Web Developer, Emprendedor, Fundador @TeamCromlu, youtuber @rktecnology. HTML5, CSS3, JavaScript, ECS6, BackboneJS, NodeJS, MongoDB.
	</div>
</div>
<!-- end widget -->