<div class="widget">
	<h4 class="title">Sigueme en mis Redes:</h4>
	<div class="content clearfix">
		<ul class="social">
			<!-- start social links -->
			<!-- replace the # with your own profile link address -->
			<li><a href="https://www.facebook.com/Ramnk0" class="facebook" target="_blank"><i class="fa fa-facebook"></i></a></li>
			<li><a href="https://twitter.com/joelengt" class="twitter" target="_blank"><i class="fa fa-twitter"></i></a></li>
			<li><a href="https://pe.linkedin.com/in/joel-gonzales-tipismana-291990bb"class="linkedin" target="_blank"><i class="fa fa-linkedin"></i></a></li>
			<li><a href="https://www.youtube.com/channel/UCJupglzpy8uo01p6H-yvPNQ"class="youtube" target="_blank"><i class="fa fa-youtube"></i></a></li>
			<li><a href="https://www.instagram.com/joelengt/"class="instagram" target="_blank"><i class="fa fa-instagram"></i></a></li>
			{{!-- <li><a href="#"class="skype"><i class="fa fa-skype"></i></a></li> --}}
			{{!-- <li><a href="#"class="pinterest"><i class="fa  fa-pinterest"></i></a></li> --}}
			{{!-- <li><a href="#"class="vimeo"><i class="fa fa-vimeo-square"></i></a></li> --}}
			{{!-- <li><a href="#"class="dribbble"><i class="fa fa-dribbble"></i></a></li> --}}
			{{!-- <li><a href="#"class="flickr"><i class="fa fa-flickr"></i></a></li> --}}
			{{!-- <li><a href="{{@blog.url}}/rss/" class="rss"><i class="fa fa-rss"></i></a></li> --}}
			<!-- end social links -->
		</ul>
	</div>
</div>